{% extends "./base.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de Asignaturas</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarCurso/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" 
                        class="form-control" placeholder="Código" minlength="6" maxlength="6" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtnombre" name="txtnombre" 
                        class="form-control" placeholder="Nombre"  maxlength="50" required>
                    </div>

                    <div class="form-group">
                        <input type="text" id="numcreditos" name="numcreditos"
                        class="form-control" min="1" max="9" value="1" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white"> GUARDAR </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <h1>Listado de Asignaturas</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Créditos</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.creditos}}</td>
                        <td><a href="editarCurso/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCurso/{{c.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>


{% endblock %}
